main{
    font-family: Inter;
    overflow: hidden
}

.call-to-action{
    background: url("./images/backgrounds/Header\ BG.png") 100% no-repeat #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 0 16px;
    transition: background-size 0.2s;
    overflow: hidden
}

.call-to-action__header{
    text-align: center;
    font-size: 103px;
    font-weight: 400;
    letter-spacing: -2px;
    text-wrap: nowrap;
    transition: 0.2s;
}

.call-to-action__sub-header{
    text-align: center;
    color: rgba(255, 255, 255, 0.70);
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px; /* 130% */
    margin: 24px 0 0 0;
    max-width: 584px;
    transition: 0.2s;
}

.call-to-action__buttons{
    display: flex;
    max-width: 276px;
    width: 100%;
    justify-content: space-between;
    margin: 32px 0 0 0;
}

.call-to-action__image{
    width: 1088px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: -33px 38px 80px -1px rgba(0, 0, 0, 0.60); 
    margin: 80px 0 0 0;
    transition: 0.3s;
}

.call-to-action__image:hover{
    filter: opacity(0.8);
    transition: 0.3s;
}

.teams{
    background: url(images/backgrounds/logotypes.svg) no-repeat bottom 0px right 212px #000;
    padding: 85px 16px 95px 16px;
    transition: background-position 0.1s;
    overflow: hidden
}

.teams__information{
    max-width: var(--contentMaxWidth);
    margin: 0 auto;
    width: 100%;
}

.teams__header{
    max-width: 365px;
    margin: 0 0 14px 0;
}

.teams__text{
    color: rgba(255, 255, 255, 0.65);
    max-width: 404px;
}

.teams__attendance-rate{
    display: flex;
    align-items: center;
    margin: 65px 0 5px 0 ;
}

.teams__attendance-rate-icon{
    width: 40px;
}
.teams__attendance-rate-text{
    color: rgba(255, 255, 255, 0.50);
    font-size: 29px;
    line-height: 38.4px;
    letter-spacing: -0.25px;
    text-wrap: nowrap;
    transition: 0.2s;
}
.experience{
    background-color: #fff;
}

.experience__content{
    max-width: var(--contentMaxWidth);
    margin: 0 auto;
    padding: 100px 16px 144px 16px;
}

.experience__header{
    color: #000;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 0 0 85px 0;
}

.experience__header-focus{
    font-size: 248px;
}


.experience__grid{
    display: grid;
    width: 100%;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 480px 612px 364px;
    transition: 0.2s;
}

.experience__grid-content{
    background: no-repeat top center;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    transition: 0.3s;
}

.experience__grid-content:hover{
    filter: contrast(0.9);
    transition: 0.3s;
}

.experience__grid-content--full-row{
    grid-column-start: 1;
    grid-column-end: 13;
}

.experience__grid-content--7-12-of-row{
    grid-column-start: 1;
    grid-column-end: 8;
}

.experience__grid-content--5-12-of-row{
    grid-column-start: 8;
    grid-column-end: 13;
}

.experience__grid-content--1-half-row{
    grid-column-start: 1;
    grid-column-end: 7;
}

.experience__grid-content--2-half-row{
    grid-column-start: 7;
    grid-column-end: 13;
}

.experience__grid-content-header{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: -0.2px; 
    max-width: 336px;
}

.experience__grid-content-text{
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px; 
    max-width: 336px;
}

.experience__grid-content-header--inverted{
    color: #fff;
}

.experience__grid-content-text--inverted{
    color: rgba(225, 225, 225, 0.70);
}

.stories{
    background: url("images/backgrounds/phone.png") no-repeat #000;
    width: 100%;
}

.stories__content{
    display: flex;
    flex-direction: column;
    gap: 39px;
    max-width: var(--contentMaxWidth);
    margin: 0 auto;
    padding: 304px 16px;
    transition: 0.2s;
}

.stories__header{
    max-width: 582px;
}

.stories__text{
    color: rgba(255, 255, 255, 0.65);
    font-size: 22px;
}

.features{
    background: #000;
    overflow: hidden
}

.features__content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 114px 16px 258px 16px;
    display: flex;
    flex-direction: column;
}

.features__header{
    color: #FFF;
    font-size: 44px;
}

.features__header:last-of-type{
    text-align: right;
}

.features__header-focus{
    font-size: 236px;
}

.features__grid{
    display: grid;
    width: 100%;
    margin: 80px 0 60px 0;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 549px 485px;
}

.features__grid-content{
    background: no-repeat bottom right #141414;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    transition: 0.3s;
}


.features__grid-content:hover{
    filter: contrast(0.9);
    transition: 0.3s;
}

.features__grid-content--full-row{
    grid-column-start: 1;
    grid-column-end: 4;
}

.features__grid-content-header{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: -0.2px; 
    max-width: 336px;
}

.features__grid-content-text{
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px; 
    max-width: 336px;
}

.features__grid-content-header--inverted{
    color: #fff;
}

.features__grid-content-text--inverted{
    color: rgba(225, 225, 225, 0.70);
}

.revenue{
    background: #F5F5F5;;
}

.revenue__content{
    margin: 0 auto;
    max-width: 1280px;
    padding: 144px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    gap: 32px;
}

.revenue__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    transition: 0.2s;
}

.revenue__text > p:nth-of-type(1){
    font-size: 59px;
    padding: 20px 0 20px 0;
    transition: 0.2s;
}
.revenue__text > p:nth-of-type(2){
    font-size: 18px;
    transition: 0.2s;
}
.revenue__text > p:nth-of-type(3){
    font-size: 14px;
    transition: 0.2s;
}

.revenue__line{
    max-width: 421px;
    border: rgba(0, 0, 0, 0.10) 1px solid;
    width: 100%;
    margin: 24px 0;
}

.revenue__header{
    display: flex;
    flex-direction: column ;
}

.singup{
    background: url(images/backgrounds/Singup\ BG.png) no-repeat bottom center;
    background-size: 3000px;
}

.singup__content{
    margin: 0 auto;
    padding: 80px 16px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.singup__information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

}

.singup__header{
    color: #FFF;
}

.singup__text{
    color: #FFF;
    font-size: 22px;
}

.singup__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 510px;
    width: 100%;
    align-content: end;
    height: 321px;
    justify-content: end;
}

.singup__input{
    border: none;
    border-bottom: 2px solid #FFF;
    background: none;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
}

.singup__sumbit{
    background: none;
    border: none;
}

.singup__sumbit::after{
    content: "hello";
    position: absolute;
    color: #fff;
}

@media only screen and (max-width: 1440px) {
    .experience__header-focus{
        font-size: 19vw;
    }
    .features__header-focus{
        font-size: 19vw;
    }
    .stories{
        background-position: right bottom;
    }
    
}

@media only screen and (max-width: 1024px) {
    .call-to-action__image{
        width: 700px;
    }
    .call-to-action__header{
        font-size: 80px;
    }
    .call-to-action__sub-header{
        font-size: 18px;
    }
    .teams{
        background-position: bottom 0px right 50px;
        transition: 0.1s;
    }
    .stories__content{
        padding: 200px 16px 700px 16px;
        transition: 0.2s;
    }
    .features__content{
        padding: 114px 16px 128px 16px;
    }
    .features__grid{
        grid-template-rows: 700px 500px;
        transition: 0.2s;
    }
    .revenue__content{
        padding: 80px 16px;
    }
}

@media only screen and (max-width: 768px) {
    .call-to-action__header{
        font-size: 50px;
    }
    .call-to-action__sub-header{
        font-size: 16px;
        line-height: 20px;
    }
    .call-to-action__image{
        width: 500px;
    } 
    .call-to-action{
        background-size: 800px;
        transition: background-size 0.2s;
    }
    .teams{
        background-position: bottom center;
    }
    .teams__information{
        padding: 0 0 360px 0;
    }
    .experience__header{
        font-size: 40px;
    }
    .experience__grid{
        grid-template-rows: 300px 400px 300px;
        transition: 0.2s;
    }
    .experience__grid-content{
        padding: 20px;
        transition: 0.2s;
    }
    .features__grid{
        grid-template-columns: 1fr;
        grid-template-rows: 700px 600px 600px 600px;
        transition: 0.2s;
    }
    .features__grid-content--full-row{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .stories__content{
        padding: 100px 16px 800px 16px;
    }
    .stories{
        background-position: bottom 0px right -120px;
    }
    .revenue__content{
        flex-direction: column;
        gap: 50px;
    }
    .revenue__information{
        width: 100%;
        text-align: center;
    }
    .revenue__line{
        max-width: 100%;
    }
    .revenue__image{
        width: 150px;
    }
    .singup__content{
        flex-direction: column;
    }
    .singup__form{
        height: 150px;
        max-width: 100%;
    }
    
}

@media only screen and (max-width: 425px) {
    .call-to-action__header{
        font-size: 38px;
    }
    .call-to-action__sub-header{
        font-size: 14px;
    }
    .teams__attendance-rate-text{
        font-size: 25px;
    }
    .experience__grid{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 400px 500px 300px 300px;
    }
    .experience__grid-content--5-12-of-row, .experience__grid-content--2-half-row, .experience__grid-content--7-12-of-row, .experience__grid-content--full-row, .experience__grid-content--1-half-row{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .features__header{
        font-size: 30px;
        transition: 0.2s;
    }
    .revenue__text > p:nth-of-type(1){
        font-size: 30px;
    }
    
}