main{
    font-family: Inter;
}

.call-to-action{
    background: url("./images/backgrounds/Header\ BG.png") 100% no-repeat #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 0 16px;
}

.call-to-action__header{
    text-align: center;
    font-size: 103px;
    font-weight: 400;
    letter-spacing: -2px;
}

.call-to-action__sub-header{
    text-align: center;
    color: rgba(255, 255, 255, 0.70);
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px; /* 130% */
    margin: 24px 0 0 0;
    max-width: 584px;
}

.call-to-action__buttons{
    display: flex;
    max-width: 276px;
    width: 100%;
    justify-content: space-between;
    margin: 32px 0 0 0;
}

.call-to-action__image{
    max-width: 1088px;
    height: 606px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: -33px 38px 80px -1px rgba(0, 0, 0, 0.60); 
    margin: 80px 0 0 0;
    transition: 0.3s;
}

.call-to-action__image:hover{
    filter: opacity(0.8);
    transition: 0.3s;
}

.teams{
    background: url(images/backgrounds/logotypes.svg) no-repeat bottom 0px right 212px #000;
    padding: 85px 16px 95px 16px;
}

.teams__information{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.teams__header{
    max-width: 365px;
    margin: 0 0 14px 0;
}

.teams__text{
    color: rgba(255, 255, 255, 0.65);
    max-width: 404px;
}

.teams__attendance-rate{
    display: flex;
    align-items: center;
    margin: 65px 0 5px 0 ;
}

.teams__attendance-rate-icon{
    width: 40px;
}
.teams__attendance-rate-text{
    color: rgba(255, 255, 255, 0.50);
    font-size: 29px;
    line-height: 38.4px;
    letter-spacing: -0.25px;
}
.experience{
    background-color: #fff;
}

.experience__content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 16px 144px 16px;
}

.experience__header{
    color: #000;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 0 0 85px 0;
}

.experience__grid{
    display: grid;
    width: 100%;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 480px 612px 364px;
}

.experience__grid-content{
    background-color: rgb(171, 171, 171);
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    transition: 0.3s;
}

.experience__grid-content:hover{
    filter: contrast(0.9);
    transition: 0.3s;
}

.experience__grid-content--full-row{
    grid-column-start: 1;
    grid-column-end: 13;
}

.experience__grid-content--7-12-of-row{
    grid-column-start: 1;
    grid-column-end: 8;
}

.experience__grid-content--5-12-of-row{
    grid-column-start: 8;
    grid-column-end: 13;
}

.experience__grid-content--1-half-row{
    grid-column-start: 1;
    grid-column-end: 7;
}

.experience__grid-content--2-half-row{
    grid-column-start: 7;
    grid-column-end: 13;
}

.experience__grid-content--overlays{
    background: url(images/backgrounds/overlays.png) no-repeat;
}

.experience__grid-content--polls{
    background: url(images/backgrounds/polls.png) no-repeat;
}

.experience__grid-content--video-quallity{
    background: url(images/backgrounds/video\ quallity.png) no-repeat;
}

.experience__grid-content--qna{
    background: url(images/backgrounds/q&a.png) no-repeat;
}

.experience__grid-content--chat{
    background: url(images/backgrounds/chat.png) no-repeat;
}


.experience__grid-content-header{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: -0.2px; 
    max-width: 336px;
}

.experience__grid-content-text{
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px; 
    max-width: 336px;
}

.experience__grid-content-header--inverted{
    color: #fff;
}

.experience__grid-content-text--inverted{
    color: rgba(225, 225, 225, 0.70);
}