nav{
    background-color: #000;
    font-family: Inter;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navigation{
    display: flex;
    max-width: var(--contentMaxWidth);
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 32px 16px 0 16px;
}

.navigation__image{
    width: 128px;
}

.navigation__menu{
    display: inline-flex;
    height: 70px;
    padding: 0 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 32.313px;
    flex-shrink: 0;
    align-items: center;
}

.navigation__menu--action{
    padding: 0 0 0 5.55vw;
}
